<!--DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" -->
<suite name="OrangeHRM Suite">
<listeners>
    <listener class-name="utilities.TestListener"/>
</listeners>

  <test name="UI Tests">
    <classes>
      <class name="uiTests.LoginTest"/>
      <class name="uiTests.EmployeeCRUDTest"/>
      <class name="uiTests.Selftest"/>
    </classes>
  </test>

  <test name="API Tests">
    <classes>
      <class name="apiTests.LoginAPITest"/>
      <class name="apiTests.EmployeeAPITest"/>
    </classes>
  </test>

  <test name="E2E Tests">
    <classes>
      <class name="e2eTests.EmployeeE2ETest"/>
    </classes>
  </test>
</suite>
